.UserDashboard {
  padding: 20px;
}

.review-input {
  margin-top: 10px;
}

.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.contact-us-popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  
  justify-content: center;  
  z-index: 1000;
  flex-direction: column;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.author-image {
  width: 50px;
  height: 50px;
}
