.buttons{
    display: flex;
    justify-content: space-between;
}
.settings{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    margin-top: 25px;
}
.card-title{
    margin-top: 20px;
}