.Forgot-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Forgot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
