.login-from{
    width: 50%;
}
.login{
    display: flex;
    flex-direction: row-reverse;
}
@media (min-width: 481px) and (max-width: 768px) {
    .login-right {
      display: none;
    }
    .login-from{
        width:100%;
    }
  }