

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    flex-direction: row-reverse;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right h2 {
    margin-right: 20px;
    font-size: 20px;
}

.navbar-right button, .navbar-right .google-logout-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.navbar-right button:hover, .navbar-right .google-logout-button:hover {
    background-color: #ff1e38;
}

.avatar-container {
    margin-left: 20px;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
